custom/zsh
vim/backups
vim/view
*un~
vim/.netrwhist
vim/tmp
vim/spell
vim/after/.vimrc.after
vim/.vundles.local
vim/.vundles.local.bak
vim/bundle
vim/sessions
zsh/custom_aliases_private.zsh
.netrwhist
bin/subl
tags
zsh/custom_aliases_private.zsh
